@-webkit-keyframes tipTxt
{
0% {height:0px;transform:translate3d(0px,0px,0px);
	-webkit-transform:translate3d(0px,0px,0px);
	-moz-transform:translate3d(0px,0px,0px);
	opacity:1;
	}
	30%{
	height:50px;transform:translate3d(0px,-80px,0px);
	-webkit-transform:translate3d(0px,-80px,0px);
	-moz-transform:translate3d(0px,-80px,0px);
	opacity:1;
	}
80% {height:50px;transform:translate3d(0px,-80px,0px) ;
	-webkit-transform:translate3d(0px,-80px,0px);
	-moz-transform:translate3d(0px,-80px,0px);
	opacity:1;}

100% {height:50px;transform:translate3d(0px,-240px,0px);
	-webkit-transform:translate3d(0px,-240px,0px);
	-moz-transform:translate3d(0px,-240px,0px);
	opacity:0;}
}
@-webkit-keyframes attrTip
{
	0% {
		-webkit-transform: translate3d(0,0,0);
        -moz-transform: translate3d(0,0,0);
        -o-transform: translate3d(0,0,0);
        transform: translate3d(0,0,0);
		opacity:1;
	}
	60% {
		-webkit-transform: translate3d(0,-100px,0);
        -moz-transform: translate3d(0,-100px,0);
        -o-transform: translate3d(0,-100px,0);
        transform: translate3d(0,-100px,0);
		opacity:1;
	}
	100% {
		-webkit-transform: translate3d(0,-120px,0);
        -moz-transform: translate3d(0,-120px,0);
        -o-transform: translate3d(0,-120px,0);
        transform: translate3d(0,-120px,0);
		opacity:0;
		dispaly:none;
	}
}
@-webkit-keyframes barTip
{
	0% {
		-webkit-transform: translate3d(0,0,0);
        -moz-transform: translate3d(0,0,0);
        -o-transform: translate3d(0,0,0);
        transform: translate3d(0,0,0);
		opacity:1;
	}
	60% {
		-webkit-transform: translate3d(0,-100px,0);
        -moz-transform: translate3d(0,-100px,0);
        -o-transform: translate3d(0,-100px,0);
        transform: translate3d(0,-100px,0);
		opacity:1;
	}
	100% {
		-webkit-transform: translate3d(0,-120px,0);
        -moz-transform: translate3d(0,-120px,0);
        -o-transform: translate3d(0,-120px,0);
        transform: translate3d(0,-120px,0);
		opacity:0;
		dispaly:none;
	}
}
@-webkit-keyframes goodsTip
{
	0% {
		height:0;
		opacity: 1
	}
	10% {
		height:37px;
		opacity: 1;
	}
	80% {
		height:37px;
		opacity: .8;
	}
	100% {
		height:37px;
		opacity: 0;
	}
	
}
@-webkit-keyframes errTip
{
	0% {
		-webkit-transform: scale3d(0,0,0);
        -moz-transform: scale3d(0,0,0);
        -o-transform: scale3d(0,0,0);
        transform: scale3d(0,0,0);
		opacity: 1
	}
	20% {
		-webkit-transform: scale3d(1.2,1.2,1.2);
        -moz-transform: scale3d(1.2,1.2,1.2);
        -o-transform: scale3d(1.2,1.2,1.2);
        transform: scale3d(1.2,1.2,1.2);
		opacity: 1
	}
	70% {
		-webkit-transform: scale3d(1.2,1.2,1.2);
        -moz-transform: scale3d(1.2,1.2,1.2);
        -o-transform: scale3d(1.2,1.2,1.2);
        transform: scale3d(1.2,1.2,1.2);
		opacity: 1
	}
	100% {
		-webkit-transform: scale3d(1.2,1.2,1.2);
        -moz-transform: scale3d(1.2,1.2,1.2);
        -o-transform: scale3d(1.2,1.2,1.2);
        transform: scale3d(1.2,1.2,1.2);
		opacity: 0;
	}
	
}


/* 恭喜获得动画 */
@-webkit-keyframes showNewRes
{
	0% {
		-webkit-transform: translate3d(0,0,0);
        -moz-transform: translate3d(0,0,0);
        -o-transform: translate3d(0,0,0);
        transform: translate3d(0,0,0);
		opacity:1;
	} 
	50%{
		opacity:.8;
	}
	100% {
		-webkit-transform: translate3d(0,-120px,0);
        -moz-transform: translate3d(0,-120px,0);
        -o-transform: translate3d(0,-120px,0);
        transform: translate3d(0,-120px,0);
		opacity:0;
	}
	
}

/* 采集类型，100%进度条动画 */
@-webkit-keyframes collectBarAnima
{
	0% {
		-webkit-transform: scale3d(0,1,1) skewX(-28deg);;
        -moz-transform: scale3d(0,1,1) skewX(-28deg);;
        -o-transform: scale3d(0,1,1) skewX(-28deg);;
        transform: scale3d(0,1,1) skewX(-28deg);;
	} 
	100% {
		-webkit-transform: scale3d(1,1,1 )  skewX(-28deg);;
        -moz-transform: scale3d(1,1,1) skewX(-28deg);; 
        -o-transform: scale3d(1,1,1) skewX(-28deg);;
        transform: scale3d(1,1,1) skewX(-28deg);;
	}
}
